<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui-style/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui-style/css/public.css" media="all">
    <style type="text/css">
        .layui-table-cell{
            height: auto!important;
            white-space: normal;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">套餐名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="package_name" autocomplete="off" class="layui-input">
                            </div>
<!--                            <label class="layui-form-label">频道</label>-->
<!--                            <div class="layui-input-inline">-->
<!--                                <select name="package_cannel" lay-verify="">-->
<!--                                    <option value="">所有</option>-->
<!--                                    <option value="1">直播</option>-->
<!--                                    <option value="2">电视剧</option>-->
<!--                                    <option value="3">电影</option>-->
<!--                                    <option value="4">少儿</option>-->
<!--                                    <option value="5">综艺</option>-->
<!--                                    <option value="6">新闻</option>-->
<!--                                    <option value="7">体育</option>-->
<!--                                    <option value="8">纪实</option>-->
<!--                                    <option value="9">生活</option>-->
<!--                                </select>-->
<!--                            </div>-->
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                                <select name="package_status" lay-verify="">
                                    <option value="">所有</option>
                                    <option value="1">已上线</option>
                                    <option value="0">未上线</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜索
                            </button>
                        </div>
                    </div>
                </form>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加</button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="abcd" th:each="l,sta:${list}">
            <!--            <p  th:if="${l.enable}==0">是</p>-->
            <!--            <p  th:if="${l.enable}==1">否</p>-->
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
        </script>


        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <!--            <a class="layui-btn  layui-btn-normal layui-btn-xs data-count-edit" lay-event="section">章节</a>-->
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script type="text/html" id="imgTpl">
    <img src="{{ d.package_img }}">
</script>
<script src="/layui-style/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script th:inline="none">
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        layer = layui.layer;
        table.render({
            elem: '#currentTableId',
            url: '/package/getPackageList',
            toolbar: '#toolbarDemo',
            toolbar2: '#abcd',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                [
                    {field: 'package_id', width: 100, title: '套餐ID'},
                    {field: 'package_name', width: 100, title: '套餐名'},
                    {field: 'package_price', width: 100, title: '价格/元'},
                    {field: 'package_programName', width: 150, title: '套餐包含节目名'},
                    {field: 'package_status', title: '状态', templet: function (list) {
                            if (list.package_status == 1) {
                                res = "上线"
                            } else {
                                res = "未上线"
                            }
                            return res;
                        }
                    },
                    {field: 'package_cannel', width: 120, title: '套餐包含频道'},
                    {field: 'package_time', width: 120, title: '套餐时长/日'},
                    {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
                ]
            ],
            limits: [3, 6, 9],
            limit: 3,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            // var result = JSON.stringify(data.field);
            // layer.alert(result, {
            //     title: '最终的搜索信息',
            //     content:data.field.user_name
            // });
            var package_name = data.field.package_name;
            var package_status = data.field.package_status;
            table.render({
                elem: '#currentTableId',
                url: '/package/getPackageListByPackageName?package_name=' + package_name +'&package_status='+package_status,
                toolbar: '#toolbarDemo',
                toolbar2: '#abcd',
                defaultToolbar: ['filter', 'exports', 'print', {
                    title: '提示',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-tips'
                }],
                cols: [
                    [
                        {field: 'package_id', width: 100, title: '套餐ID'},
                        {field: 'package_name', width: 100, title: '套餐名'},
                        {field: 'package_price', width: 100, title: '价格/元'},
                        {field: 'package_programName', width: 150, title: '包含节目'},
                        {field: 'package_status', title: '状态', templet: function (list) {
                                if (list.package_status == 1) {
                                    res = "上线"
                                } else {
                                    res = "未上线"
                                }
                                return res;
                            }
                        },
                        {field: 'package_cannel', width: 120, title: '套餐包含频道'},
                        {field: 'package_time', width: 120, title: '套餐时长/日'},
                        {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
                    ]
                ],
                limits: [3, 6, 9],
                limit: 3,
                page: true,
                skin: 'line'
            });

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    user_name: data.field.user_name
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加套餐',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '../dispatcher/Package/PackageAdd.html',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                console.log(obj)
                var index = layer.open({
                    title: '编辑套餐',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '../dispatcher/Package/PackageEdit.html?package_id=' + data.package_id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                    $.ajax({
                        type: "post",
                        ansyv: true,
                        data: data.field,
                        datatype: "json",
                        url: "http://localhost:8080/package/deletePackage?package_id=" + data.package_id,
                        success: function (data) {
                            var flag = data.success;
                            if (flag) {
                                layer.alert(JSON.stringify('删除成功'));
                                // window.location.href = "http://localhost:8080/package/table";
                            } else {
                                layer.alert(JSON.stringify('删除失败'));
                            }
                        },
                        error: function () {
                            alert("请求出错!");
                        }
                    });
                });
            }
        });

    });
</script>

</body>
</html>