<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wen.mapper.UserMapper">

   <select id="getUserList" parameterType="com.wen.pojo.User" resultType="com.wen.pojo.User">
       select * from user
   </select>
    <select id="selectByUsername" parameterType="com.wen.pojo.User" resultType="com.wen.pojo.User">
       select * from user where userid="${userid}"
   </select>
    <select id="selectByUsername2" parameterType="com.wen.pojo.User" resultType="com.wen.pojo.User">
        select * from user where nick_name like "%${nick_name}%" and member like "%${member}%"
    </select>
    <update id="updateUser" parameterType="com.wen.pojo.User">
        update user
        <set >
            userid = #{userid},
            password = #{password},
            nick_name = #{nick_name},
            age = #{age},
            sex = #{sex},
            address = #{address},
        </set>
        where id = #{id}
    </update>
    <insert id="addUser" parameterType="com.wen.pojo.User">
        insert into user (userid,password,nick_name,age,sex,address)
        values (#{userid},#{password},#{nick_name},#{age},#{sex},#{address});
    </insert>
    <delete id="deleteUser" parameterType="Integer">
        delete from user where id="${id}"
    </delete>
</mapper>
