<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wen.mapper.UserUseMapper">
    <select id="selectByUserName" parameterType="com.wen.pojo.User" resultType="com.wen.pojo.User">
        select * from user where userid=#{userid} and password=#{password}
    </select>
    <select id="searchByName" parameterType="String" resultType="com.wen.pojo.Product">
        select  *from product where product_name like "%${text}%"
    </select>
    <select id="getOrderByUserId" parameterType="String"  resultType="com.wen.pojo.Order">
        select * from userorder where order_userId=#{userId}
    </select>
    <select id="getProductByProductName" parameterType="String" resultType="com.wen.pojo.ProductAndUser">
        select * from product where product_name=#{Product_name}
    </select>
    <select id="getProductByProductNameAnother" parameterType="String" resultType="com.wen.pojo.Product">
        select * from product where product_name=#{Product_name}
    </select>
    <select id="getProductByUserName" parameterType="String" resultType="com.wen.pojo.User">
        select * from user where userid=#{user_id}
    </select>
    <select id="getUserByUserName" parameterType="String" resultType="com.wen.pojo.UserVoucherCollection">
        select * from user where userid=#{user_id}
    </select>
    <update id="updateUserMember" parameterType="String">
        update user set member="0" where userid=#{user_id}
    </update>
    <update id="BuyMonth" parameterType="String">
        update  user set member_end=#{reStr} where  userid=#{User_id}
    </update>
    <update id="BuyMonthInitial" parameterType="String">
        update  user set member_end=#{reStr} , member_start=#{format},member='1' where  userid=#{user_id}
    </update>
    <insert id="addUserOrder" parameterType="com.wen.pojo.Order">
        insert into userorder (
            order_userId,order_productId,order_commodity,order_price,
            order_createTime,order_dueTime,order_type,order_cannel,order_img
        )value (
            #{order_userId},#{order_productId},#{order_commodity},#{order_price},#{order_createTime},
            #{order_dueTime},#{order_type},#{order_cannel},#{order_img}
            )
    </insert>
    <select id="getProductByCannel" parameterType="String" resultType="com.wen.pojo.Product">
        select * from product where product_cannel=#{cannel}
    </select>
    <select id="getVoucher" parameterType="com.wen.pojo.UserVoucherCollection" resultType="com.wen.pojo.UserVoucherCollection">
        select * from voucher
    </select>
    <select id="getUserCollection" parameterType="String" resultType="com.wen.pojo.UserCollection">
        select * from collection where collection_userId=#{user_id}
    </select>
    <insert id="addUserVoucherCollection" parameterType="com.wen.pojo.UserCollection" >
        insert into collection (
            collection_userId,collection_voucherId,collection_count
        )value (
            #{collection_userId},#{collection_voucherId},#{collection_count}
        )
    </insert>
    <insert id="addUserVOucherUsage" parameterType="com.wen.pojo.VoucherUsage">
        insert into voucherUsage (
            VoucherUsage_userID,VoucherUsage_voucherID,VoucherUsage_CreateTime
        )
        values (#{VoucherUsage_userID},#{VoucherUsage_voucherID},#{VoucherUsage_CreateTime});
    </insert>
    <delete id="deletUserCollection" parameterType="com.wen.pojo.UserCollection">
        delete  from collection where collection_userId=#{collection_userId} and collection_voucherId=#{collection_voucherId}
    </delete>
    <insert id="registerUser" parameterType="com.wen.pojo.User">
        insert into user (
            userid,password,nick_name,age,sex,address
        )value (
            #{userid},#{password},#{nick_name},#{age},#{sex},#{address}
            )
    </insert>
    <select id="selectPackage" resultType="com.wen.pojo.ProPackage">
        select *
        from package;
    </select>
    <select id="getPackageByID" parameterType="String" resultType="com.wen.pojo.ProPackage">
        select * from package where package_id=#{package_id}
    </select>
    <select id="getOrderByUserIdAndPackage_Name" parameterType="String" resultType="com.wen.pojo.Order">
        select *
        from userorder where order_userId=#{user_id} and order_commodity=#{package_name};
    </select>
</mapper>
