<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wen.mapper.UserUseMapper">
    <select id="selectByUserName" parameterType="com.wen.pojo.User" resultType="com.wen.pojo.User">
        select * from user where userid=#{userid} and password=#{password}
    </select>
    <select id="searchByName" parameterType="String" resultType="com.wen.pojo.Product">
        select  *from product where product_name like "%${text}%"
    </select>
    <select id="getOrderByUserId" parameterType="String"  resultType="com.wen.pojo.Order">
        select * from userorder where order_userId=#{userId}
    </select>
    <select id="getProductByProductName" parameterType="String" resultType="com.wen.pojo.ProductAndUser">
        select * from product where product_name=#{Product_name}
    </select>
    <select id="getProductByUserName" parameterType="String" resultType="com.wen.pojo.User">
        select * from user where userid=#{user_id}
    </select>
    <update id="updateUserMember" parameterType="String">
        update user set member="0" where userid=#{user_id}
    </update>
</mapper>
